/* App.css */
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.work-experience,
.personal-projects,
.education,
.skills {
  margin-top: 20px;
}

.experience-item,
.project-item {
  text-align: left;
  margin-bottom: 20px;
}

a {
  color: #61dafb;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
